

iframe {
	width:100%;
	height:100%;
	border: none;
}

.main-body {
	width:100%;
	height:100%;
	margin:auto;
	text-align: center;
	background: url('/static/images/purple.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.main-body button:hover {
	background-color: #666666;
	border-color: black;
	color:#dfd7ef;
	/*color:#ccb3e6;*/
	text-shadow:1px 1px black;
}

.login-body {
	width:100%;
	height:100%;
	margin:auto;
	text-align: center;
	background: url('/static/images/Shepard_Hall.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.login-body nav {
	width:80%;
	height:70px;
	margin:auto;
	/*background-color: #cec8bb;*/
	background: linear-gradient(white, #999999);
	border-radius: 15px;
	border: 1px solid gray;
	margin-top: 2%;
	box-shadow: 2px 2px 5px black;
}

.fadeOut {
	width:100%;
	margin:auto;
	height:80%;
	position: absolute;
	z-index: auto;
	transition: visibility 0s linear 0.2s, opacity .2s linear;
	opacity: 0.0;
	visibility: hidden;
}

.fadeOut2 {
	width:100%;
	margin:auto;
	height:80%;
	position: absolute;
	z-index: auto;
	transition: visibility 0s linear 0.2s, opacity .2s linear;
	opacity: 0.0;
	visibility: hidden;
}

.fadeOut2 {
	width:100%;
	margin:auto;
	height:80%;
	position: absolute;
	z-index: auto;
	transition: visibility 0s linear 0.2s, opacity .2s linear;
	opacity: 0.0;
	visibility: hidden;
}

.fadeIn {
	width:100%;
	margin:auto;
	height:80%;
	position: absolute;
	transition: visibility 0s linear 0.2s, opacity .2s linear;
	transition-delay:0s;
	opacity: 1.0;
	visibility: visible;
}

.logo-wrapper {
	width:430px;
	height:120px;
	background-color: white;
	margin:auto;
	margin-left: 56%;
	margin-top:6%;
	border:1px solid gray;
	border-radius: 8px;
	box-shadow: 2px 2px 5px black;
	opacity: 0.5;

	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

.logo-container {
	width:95%;
	height:80%;
	margin:auto;
	position: relative;
	top: 50%;
  	transform:translateY(-50%);
}

.cuny-logo {
	width:20%;
	height:100%;
	position:relative;
	float:left;
}

.cuny-logo-welcome {
	width:100%;
	height:100%;
	margin-top: 5%;
}

.cuny-logo-base2 {
	width:55px;
	height:55px;
	position:relative;
	float:left;
	top: 50%;
  	transform:translateY(-50%);
  	margin-left:2%;
}

.cuny-logo-text-base2 {
	width:216px;
	height:35px;
	font-family: Impact;
	font-size: 25px;
	color:#666666;
	position: relative;
	float:left;
	top: 50%;
  	transform:translateY(-50%);
}

.nav-btn-container {
	width:70%;
	height:100%;
	font-family: Arial;
	font-weight: bold;
	position:relative;
	float:left;
}

.main-nav-div {
	width:100%;
	height: 100%;
}

.dropdown-wrapper {
	width:80%;
	margin:auto;
	height:100%;
}

.dropdown-data-container {
	width:16.5%;
	height:100%;
	position: relative;
	float:right;
	border:1px solid #666666;
	border-radius: 10px;
	background-color: #333333;
	opacity: 0.8;
	box-shadow: 2px 2px 5px black;
}

.hidden-btn {
	width:100:;
	height:25%;
}

.hidden-btn a {
	color: black;
	color:#cccccc;
	line-height: 28px;
}

.hidden-btn a:hover {
	text-decoration: none;
	color: #330099;
	font-weight: bold;
}

.dropdown-on {
	width:100%;
	margin: auto;
	height:110px;
	position: absolute;
	transition: visibility 0s linear 0.2s, opacity .2s linear;
	transition-delay:0s;
	opacity: 1.0;
	visibility: visible;
	z-index: 1;
}

.dropdown-off {
	width:100%;
	margin:auto;
	height:110px;
	position: absolute;
	z-index: auto;
	transition: visibility 0s linear 0.2s, opacity .2s linear;
	opacity: 0.0;
	visibility: hidden;
}

.top-drop {
	width:100%;
	height:100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: left;
	padding-left: 28px;
}

.top-drop:hover {
	background-color: #c7aef6;
	opacity: 0.8;
}

.center-drop {
	width:100%;
	height:100%;
	text-align: left;
	padding-left: 28px;
}

.center-drop:hover {
	background-color: #c7aef6;
	opacity: 0.8;
}

.bottom-drop {
	width:100%;
	height:100%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: left;
	padding-left: 28px;
}

.bottom-drop:hover {
	background-color: #c7aef6;
	opacity: 0.8;
}

.btn-not-selected {
	width:20%;
	height:100%;
	background-color: none;
	position:relative;
	float:left;
}

.btn-not-selected-text {
	width:100%;
	height:20px;
	position:relative;
	top: 50%;
  	transform:translateY(-50%);
}

.btn-not-selected-text a {
	color:#666666;
}

.btn-not-selected-text a:hover {
	color:#5720bc;
	text-decoration: none;
}

.btn-selected {
	width:20%;
	height:100%;
	background: linear-gradient(#d9d0f2, #382668);
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	position:relative;
	float:left;
}

.btn-selected-text {
	width:100%;
	height:20px;
	position:relative;
	top: 50%;
  	transform:translateY(-50%);
}

.btn-selected-text a {
	color:#e0d6f4;
}

.btn-selected-text a:hover {
	text-decoration: none;
}

.logo-text {
	width: 80%;
	height:100%;
	position:relative;
	float:left;
	font-family: Impact;
	padding-left:7%;
	color:gray;
}

.motto {
	text-align: right;
	font-family: arial;
	font-style: italic;
	color:black;
	padding-top:20px;
}

.logo-nav {
	width:93px;
	height:93px;
}

.logo-nav-base2 {
	width:55px;
	height:55px;
}

.logo-nav-small {
	width:73px;
	height:73px;
}

.logo-nav-xs {
	width:53px;
	height:53px;
}

.logo-nav-xxs {
	width:43px;
	height:43px;
}

.logo-header {
	font-size: 35px;
	font-weight: bold;
}

.login-wrapper {
	width:430px;
	height:260px;
	background-color: #f3d22f;
	margin:auto;
	margin-left: 56%;
	opacity:0.75;
	margin-top: 30px;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 2px 2px 5px black;
	color:#240b5f;
}

.logout-wrapper {
	width:430px;
	height:140px;
	background-color: #f3d22f;
	margin:auto;
	margin-left: 56%;
	opacity:0.75;
	margin-top: 30px;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 2px 2px 5px black;
	color:#240b5f;
}

#login-text {
	font-family: Impact;
	font-size: 35px;
	margin-top:3%;
}

.login-input input {
	width:80%;
	border-radius: 5px;
	border:1px solid gray;
	font-size: 16px;
	padding-left: 10px;
	margin-top:7px;
}

.login-input button {
	width: 80%;
	font-weight: bold;
	color:black;
	border-radius: 5px;
	margin-top: 7px;
}

.half-buttons button {
	width:39.5%;
	border-radius: 5px;
	font-weight: bold;
	color:#482092;
	background-color: #9583b6;
	border-top:2px solid #c7bfd7;
	border-left:2px solid gray;
}

.half-buttons button:hover {
	background-color:#66b3ff;
	border-top: 2px solid #a1bad3;
	border-left:1px solid gray;
	border-bottom:2px solid gray;
	border-right:2px solid gray;
	color:white;
}

.button90 button {
	width:42.5%;
	border-radius: 5px;
	font-weight: bold;
	color:#482092;
	background-color: #9583b6;
	border-top:2px solid #c7bfd7;
	border-left:2px solid gray;
}

.button90 button:hover {
	background-color:#66b3ff;
	border-top: 2px solid #a1bad3;
	border-left:1px solid gray;
	border-bottom:2px solid gray;
	border-right:2px solid gray;
	color:white;
}

.button90_gray button {
	width:42.5%;
	border-radius: 5px;
	font-weight: bold;
	margin-top:15px;
}

.button90_gray button:hover {
	background-color:gray;
	border-top: 2px solid #5b5660;
	border-left:1px solid gray;
	border-bottom:2px solid gray;
	border-right:2px solid gray;
	color:white;
}

.popHead {
	font-size: 30px;
	font-family: Impact;
	margin-top:2%;
}

#OR {
	margin-top:3px;
	margin-bottom:3px;
	font-weight: bold;
	font-style: italic;
}

.student_info {
	width:100%;
	color: black;
	position:absolute;
	bottom:0;
	font-size: 11.5px;
}

.student_info span {
	font-style: italic;
	color:#1a8cff;
}

.new-account-wrapper {
	width:350px;
	height:560px;
	margin:auto;
	background-color: black;
	border: 1px solid black;
	border-radius: 8px;
	opacity: 0.7;
	margin-top: 2%;
	background-color: #f3d22f;
	box-shadow: 2px 2px 5px black;
	margin-left:60%;
}

.new-account-wrapper-blank {
	width:350px;
	height:440px;
	margin:auto;
	margin-top: 5%;
	margin-left:60%;
}

.new-loan-wrapper {
	width:400px;
	height:400px;
	margin:auto;
	background-color: black;
	border: 1px solid gray;
	border-radius: 8px;
	opacity: 0.7;
	margin-top: 6%;
	background-color: #f3d22f;
	box-shadow: 2px 2px 5px black;
	margin-left:57%;
}

#mini_notes {
	font-size: 11px;
	color:red;
	font-weight: bold;
	font-style: italic;
	width:100%;
	margin: auto;
	text-align: center;
	margin-bottom:10px;
}

.s_input {
	width:85%;
	font-size: 14px;
	padding-left: 7px;
	border-radius: 5px;
	margin-top: 5px;
}

.data_entry {
	width: 85%;
	margin: auto;
}

.data_entry table {
	width: 85%;
}

.data_entry  input{
	width:60px;
	padding: none;
	padding-right: 0px;
	border-radius: 5px;
	margin-top: 5px;
}

#initDep {
	width: 105px;
}

#deposit {
	width: 160px;
	
}

.data_label {
	text-align: left;
	margin-top:2px;
	font-weight: bold;
	color:#472388;
}

.radio_text {
	margin-right:15px;
	margin-left:2px;
	margin-top: 2px;
	font-style: italic;
	color:#1a75ff;
	font-weight: bold;
}

#term_a {
	font-size: 12px;
	margin-top:4px;
	margin-left:4px;
	font-weight: bold;
}

.dollarAmt {
	border-radius: 5px;
	width:90px;
	text-align: right;
}

.messageWindow {
	width:400px;
	height: 200px;
	background: url('/static/images/gray_grad.png');
	background-size: cover;
	margin: auto;
	box-shadow: 2px 2px 5px black;
	border-radius: 8px;
	border: 1px solid gray;
	margin-top:15%;
}

.messageWindow button {
	width:85%;
	border-radius: 5px;
}

.messageNav {
	width:100%;
	height:15%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: left;
	font-size: 170%;
	padding-left: 10px;
}

.messageNav-short {
	width:100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: left;
	font-size: 170%;
	padding-left: 10px;
	border-bottom: 1px solid gray;
}

.messageNav-solid {
	width:100%;
	font-size: 20px;
	text-align: left;
	padding-left:2%;
	border-bottom: 1px solid #666666;
}

.messageNav-solid a {
	color:#3e3e3f;
}

.messageNav-solid a:hover {
	color:#291063;
}

.hold_logo {
	width:90%;
	height:120px;
	margin: auto;
}

.class_left {
	width: 23%;
	height:70%;
	padding-top: 1%;
	position: relative;
	top: 40%;
	transform: perspective(1px) translateY(-50%);
	float:left;
}

.vertical_divider {
	width: 2px;
	height:90%;
	/*background-color: black;*/
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
	float:left;
}

.message_text {
	width:74%;
	height:80%;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
	float:left;
	margin-left:2%;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
}

.termAgree2 {
	font-size: 16px;
	margin-left: 15px;
	color:#4c3977;
}

.messageHeader {
	width:86%;
	margin:auto;
	text-align: left;
	font-size: 24px;
	font-family: Impact;
	font-style: italic;
	color:#291063;
	margin-top: 2%;
}

.messageHeader span {
	color:#442624;
}

.sm-logo-text {
	font-family: Impact;
	font-size: 16px;
	color:#3e3e3f;
	margin-top: 2%;
	text-align: center;
}

.message_logo_div {
	width:100%;
	height:150px;
	background-color: red;
}

.messageContent {
	text-align: left;
	width:85%;
	margin:auto;
}

.TermsConditions {
	width:300px;
	height:200px;
	background: url('/static/images/gray_grad.png');
	background-size: cover;
	margin: auto;
	box-shadow: 2px 2px 5px black;
	border-radius: 8px;
	border: 1px solid gray;
	margin-top:15%;
}

.phone_input {
	width:85%;
	margin:auto;
	margin-top: 6px;
	margin-bottom: 5px;
}

.phone_input input {
	border-radius: 5px;
	text-align: center;
	padding-right: 3px;
}

.invalid_login {
	width:450px;
	height:300px;
	background: url('/static/images/gray_grad.png');
	background-size: 100% 100%;
	margin: auto;
	box-shadow: 2px 2px 5px black;
	border-radius: 8px;
	border: 1px solid gray;
	margin-top:8%;
	margin-left:55%;
}

.invalid_login h1 {
	font-size: 25px;
	margin-top: 8%;
	font-style: italic;
	color:#2d0e70;
	font-weight: bold;
	margin-bottom:5%;
}

.invalid_login span {
	font-family: Impact;
	font-size: 22px;
	color:#8f75b7;
}

.invalid_login p {
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
	margin-top: 5%;
}

.invalid_login button {
	width:80%;
	border-radius: 5px;
	font-weight: bold;
}

.agreeContainer {
	width:300px;
	height:20px;
	text-align: left;
	padding-top: 8px;
}

.term_check {
	width:20px;
	position: relative;
	float:left;
}

.term_b {
	font-size: 10.5px;
	width:280px;
	position: relative;
	float:left;
	padding-top: 3px;
	font-weight: bold;
}

.margin85 {
	width:85%;
	margin: auto;
	text-align: center;
}

.head2 {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.loan_details {
	text-align: left;
	font-size:12px;
	font-weight: bold;

}

.loan_details span {
	margin-left: 5px;
	color:#095e54;
}

.totals {
	font-size: 15px;
	font-weight: bold;
	margin-top:3px;
}

.totals span {
	color: #4c0707;
}

.loanAcceptMessage {
	font-size:14px;
	margin-bottom: 20px;
	margin-top:20px;
}

.denied_message1 {
	text-align: justify;
	font-size: 14px;
	font-weight: bold;
	margin-top: 45px;
	margin-bottom: 65px;
	font-style: italic;
}

.veriLoan {
	width: 90%;
	margin:auto;
}

.veriLoan input {
	border-radius: 5px;
	width:100%;
	margin-bottom:6px;
	padding-left: 7px;
}

.loanWindow {
	width:350px;
	height: 480px;
	background: url('/static/images/gray_grad.png');
	background-size: 100% 100%;
	margin: auto;
	box-shadow: 2px 2px 5px black;
	border-radius: 8px;
	border: 1px solid gray;
	margin-top:5%;
}

.loanWindow select {
	width:50%;
	border-color: gray;
	font-size: 13px;
}

.select_left{
	text-align: left;
}

.radioLable2 {
	margin-left: 10px;
}

.s1loan select {
	width:100%;
	border-color: gray;
	font-size: 13px;
}

.field_label {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	margin-left:2px;
	margin-top:8px;
}

.newAcctLHead {
	font-size: 24px;
	font-family: impact;
	margin-bottom:8px;
	color:#4e2c70;
}

.approvalContainer {
	width:300px;
	height:320px;
	background: url('/static/images/gray_grad.png');
	background-size: 100% 100%;
	margin: auto;
	box-shadow: 2px 2px 5px black;
	border-radius: 8px;
	border: 1px solid gray;
	margin-top:5%;
}

.approvalContainer2 {
	width:300px;
	height:400px;
	background: url('/static/images/gray_grad.png');
	background-size: 100% 100%;
	margin: auto;
	box-shadow: 2px 2px 5px black;
	border-radius: 8px;
	border: 1px solid gray;
	margin-top:5%;
}

.approvalContainer2 button {
	width:85%;
	border-radius: 5px;
	font-weight: bold;
	margin-top:7px;
}

.approvalContainer button {
	width:85%;
	border-radius: 5px;
	font-weight: bold;
}

.email_only1 {
	text-align: center;
	font-size: 18px;
	margin-bottom: 6%;
	color:#406175;
}

.approvalMessage {
	width: 85%;
	margin: auto;
}

.approvalMessage h1 {
	font-size: 20px;
	color:#4e2c70;
	text-align: center;
}

.approvalMessage {
	text-align: justify;
	font-style: italic;
	font-weight: bold;
	font-size: 13px;
}

.cuny-logo2 {
	text-align: center;
	margin-bottom:10px;
}

.logouttext {

}

.logoutBtn {
	width:90%;
	margin:auto;
}

.logoutBtn button {
	width:100%;
	border-radius: 5px;
	font-weight: bold;
	margin-top: 6%;
}

.welcome_holder {
	width:50%;
	height:10vh;
	margin:auto;
	background-color: #7965a3;
	opacity:0.9;
	border:1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 5px black;
	color:#e0d6f4;
	text-align: center;
	font-size: 40px;
	font-family: Impact;
	font-style: italic;
	text-shadow: 1px 1px black;
	line-height: 70px;
	margin-top:12%;
}

.welcome_msg {
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	margin-top: 1%;
	color:#cccccc;
	text-shadow:1px 1px black;
}

.data-wrap {
	width:80%;
	height:80vh;
	margin:auto;
	border:1px solid black;
	border-radius: 20px;
	background: url('/static/images/gray_grad.png');
	background-size:100% 100%;
	opacity: 0.9;
	box-shadow: 2px 2px 5px black;
}

.data-wrap-solid {
	width:80%;
	height:80vh;
	margin:auto;
	border:1px solid black;
	border-radius: 20px;
	background: url('/static/images/gray_grad.png');
	background-size:100% 100%;
	box-shadow: 2px 2px 5px black;
}

.url-wrap {
	width:100%;
	height:12%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #7965a3;
	border-bottom: 2px solid black;
	text-align: left;
	font-size: 30px;
	font-weight:bold;
	font-style: italic;
	font-family: Impact;
	color:#e0d6f4;
	text-shadow: 1px 1px black;
	padding-left: 3%;
	line-height: 65px;
}

.summary-boxes {
	position: relative;
	/*border: 1px solid black;*/
	/*border-radius: 5px;
	box-shadow: 2px 2px 5px black;*/
	margin-top: 3.5%;
	width:570px;
	height:472px;
	float:left;
	margin-left: 5%;
}

.item-list-nav {
	width:100%;
	height:10%;
	background: linear-gradient(white, #999999);
	border-radius: 5px;
	border-left: 2px solid white;
	border-bottom: 2px solid #666666;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #666666;
	box-shadow: 2px 2px 5px black; 
}

.item-list-nav-inner {
	width:90%;
	height:55%;
	margin: auto;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}

.tri-edge {
	width:35%;
	height:100%;
	position: relative;
	float:left;
}

.tri-edge a {
	color:#376794;
	font-size: 12px;
	font-weight: bold;
}

.tri-edge a:hover {
	color:#0493dd;
	/*text-shadow:1px 1px #666666;*/
	text-decoration: none;
}

.direction-holder {
	width:100%;
	height:100%;
	text-align: right;
}

.carat-holder {
	width: 25px;
	height:100%;
	position: relative;
	float:right;
	text-align: center;
	font-size: 13px;
}

.sortBy1 {
	font-size: 11.5px;
	margin-top:4px;
	margin-right: 5px;
	color:#376794;
	font-weight: bold;
}

.dir_text {
	margin-top:4px;
}

.tri-center {
	width:30%;
	height:100%;
	position: relative;
	float:left;
}

.summary-boxes2 {
	position: relative;
	margin-top: 3.5%;
}

.summary-selected-data {
	width:320px;
	height:465px;
	float:right;
	margin-right: 5%;
}

.overview-nav {
	width:100%;
	height:13%;
	border-bottom: 2px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.overview-content {
	width:100%;
	height:80%;
	background-color: white;
	border-bottom: 2px solid black;
	/*overflow-y: scroll;*/
}

.list_iframe {

}

.list_body {
	width:80%;
	margin:auto;
}

.list_frame_body ul {
	list-style: none;
	padding-left: 0px;
}

.list_frame_body li {
	border-bottom: 1px solid gray;
	font-size: 12px;
	line-height: 26px;
}

.li_head_wrapper {
	width:100%;
	height: 36px;
	background-color: orange;
	border-bottom: 2px solid black;
}

.li_header {
	width:25%;
	height:100%;
	position: relative;
	float: left;
	font-weight: bold;
	line-height: 32px;
	text-align: left;
}

.lo_shade {
	background-color: #f2efe8;
	height: 185px;
}

.lo_clear {

}

.lo_date {
	color:#2a3b71;
	font-weight: bold;
	width:50%;
	padding-left: 5%;
	position: relative;
	float:left;
	font-size: 15px;
}

.lo_business {
	font-weight: bold;
	position: relative;
	float: right;
	width:25%;
	font-style: italic;
	text-align: right;
	padding-right:5%;
	color:blue;
}

.lo_account {
	color:#666666;
	width:25%;
	font-weight: bold;
	position: relative;
	float: left;
	text-align: right;
	font-style: italic;
}

.lo_qa {
	width: 330px;
	padding-left: 5%;
	font-weight: bold;
}

.lo_qa span {
	font-style: italic;
	font-weight: bold;
	color:#2a3b71;
}

.right_loan_balance {
	width:100%;
	text-align: right;
	padding-right: 5%;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	color:#620d25;
	background-color: #c9cdb4;
}

.right_loan_balance span {
	color:black;
}

.hi_highlight {
	background-color: orange;
	text-align: left;
}

.hi_clear {
	text-align: left;
}

.hi_shade {
	background-color: #b9d2d8;
	text-align: left;
}

.si_clear {
	text-align: left;
	border-bottom: 1px solid #666666;
}

.si_shade {
	background-color: #b9d2d8;
	text-align: left;
	border-bottom: 1px solid #666666;
}

.si_date {
	padding-left: 5%;
	position: relative;
	float:left;
	width:130px;
	font-weight: bold;
	color:black;
}

.si_available {
	padding-left: 5%;
	position: relative;
	float:left;
	width:130px;
	font-weight: bold;
	color:#3399cc;
}

.si_type {
	font-weight: bold;
	color:#330000;
}

.si_balance {
	padding-left: 5%;
	font-style: italic;
	font-weight: bold;
	font-style: italic;
	color:black;
}

.si_description {
	padding-left: 5%;
	font-style: italic;
	font-weight: bold;
	font-style: italic;
	color: #666666;
}

.li_highlight {
	background-color: orange;
	height:26px;
	text-align: left;
}

.li_clear {
	height:26px;
	text-align: left;
}

.li_shade {
	background-color: #b9d2d8;
	height:26px;
	text-align: left;
}

.li_clear:hover {
	background-color: #edecc3;
}

.li_shade:hover {
	background-color: #edecc3;
}

.hi_date {
	position:relative;
	float:left;
	margin-left:5%;
	width:100px;
	color:black;
	font-weight: bold;
}

.hi_action {
	font-weight: bold;
}

.hi_description {
	margin-left:5%;
	font-style: italic;
	color:#333333;
}

.hi_label {
	position:relative;
	float:left;
	margin-left:5%;
	width:100px;
}

.li_date {
	position: relative;
	float:left;
	width:25%;
}

.li_type {
	position: relative;
	float:left;
	width:25%;
}

.li_available {
	font-weight: bold;
	position: relative;
	float:left;
	margin-right: 2%;
}

.li_account {
	position: relative;
	float:left;
	width:18%;
	padding-left: 5%;
}

.li_balance {
	position: relative;
	float:left;
	width:25%;
	font-style: italic;
	font-weight: bold;
}

.a_page_selected {
	width:85%;
	height:32.5%;
	margin: auto;
	border-radius: 5px;
	border-left: 2px solid white;
	border-bottom: 2px solid #666666;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #666666;
	margin-top: 0%;
	background: linear-gradient(white, #999999);
	box-shadow: 2px 2px 5px black
}

.a_page_search {
	width:85%;
	height:16%;
	margin: auto;
	border-radius: 5px;
	border-left: 2px solid white;
	border-bottom: 2px solid #666666;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #666666;
	background: linear-gradient(white, #999999);
	margin-bottom:1px;
	box-shadow: 2px 2px 5px black
}

.a_page_buttons {
	width:85%;
	height:35%;
	margin: auto;
	border-radius: 5px;
	border-left: 2px solid white;
	border-bottom: 2px solid #666666;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #666666;
	background: linear-gradient(white, #999999);
	margin-bottom:1px;
	box-shadow: 2px 2px 5px black
}

.a_page_buttons button {
	width:100%;
	height:20%;
	font-weight: bold;
	font-size: 13px;
	border-radius: 5px;
	margin-bottom: 1px;
}

.a_right_btm {
	width:85%;
	height:10%;
	margin: auto;
	border:1px solid black;
	border-radius: 5px;
	border-left: 2px solid white;
	border-bottom: 2px solid #666666;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #666666;
	background: linear-gradient(white, #999999);
	box-shadow: 2px 2px 5px black
}

/*.a_page_search input {
	width:85%;
	border-radius: 5px;
	padding-left:7px;
	margin-top:3px;
}*/

.a_page_buttons button:hover {
	background-color: #76959d;
	border-color: #748286;
	color:#3d320b;
}

.avd_search {
	width:85%;
	margin:auto;
	text-align: right;
	font-size: 12px;
	margin-top:8px;
	font-weight: bold;
}

.mega-list-holder {
	width:100%;
	height:72.5%;
	border-radius: 5px;
	border-left: 2px solid white;
	border-bottom: 2px solid #666666;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #666666;
	box-shadow: 2px 2px 5px black;
}


.selected-item-wrap {
	width:90%;
	height:85%;
	border: 1px solid #666666;
	border-radius: 5px;
	margin:auto;
	margin-top:4%;
	box-shadow: 2px 2px 5px black;
	text-align: left;
	background-color: #f8f7f8;
}

.Selcted_Item {
	width:80%;
	height:24%;
	margin: auto;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	margin-top: 1%;
	margin-bottom: 1%;
	color: orange;
	text-shadow:1px 1px gray;
}

.inner_class {
	width:80%;
	margin: auto;
}

.si1 {
	margin-top: 2%;
	/*color: #7d55c7;*/
	color: #330066;
	font-weight: bold;
	font-style: italic;
	font-size: 13px;
}

.si2 {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

.si3 {
	font-weight: bold;
	font-style: italic;
	color:#336699;
	font-size: 13px;
}

.si3 span {
	font-size: 18px;
	color:#b02e31;
}

.divider {
	width:100%;
	background: url('/static/images/divider.png');
	background-size: 100%;
	height:5px;
}

.window1 {
	width: 400px;
	height:300px;
	margin:auto;
	position: relative;
	z-index: 1;
	margin-top: 7%;
}

.window_sub_body {
	width: 350px;
	height:250px;
	margin: auto;
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	box-shadow: 2px 2px 5px black;
}

.window_sub_body a {
	color:#cccccc;
}

.window_sub_body a:hover {
	color:#999999;
}

.sub_wrapper {
	width:100%;
	height:100%;
	border-radius: 8px;
	background-color: #4b6070;
	opacity: 0.9;
	font-family: arial;
}

.sub_wrapper_white {
	width:100%;
	height:100%;
	border-radius: 8px;
	background-color: white;
	opacity: 0.7;
	font-family: arial;
}

.sub_wrapper_red {
	width:100%;
	height:100%;
	border-radius: 8px;
	background-color: #2f0707;
	opacity: 0.9;
	font-family: arial;
}

.sub_wrapper_blue {
	width:100%;
	height:100%;
	border-radius: 8px;
	background-color: #132761;
	opacity: 0.9;
	font-family: arial;
}

.sub_wrapper_deep_purple {
	width:100%;
	height:100%;
	border-radius: 8px;
	background-color: #300653;
	opacity: 0.9;
	font-family: arial;
}

.sub_wrapper_brown {
	width:100%;
	height:100%;
	border-radius: 8px;
	background-color: #432402;
	opacity: 0.9;
	font-family: arial;
}

.sub_wrapper_black {
	width:100%;
	height:100%;
	border-radius: 8px;
	background-color: black;
	opacity: 0.9;
	font-family: arial;
}

.sub_win_close {
	padding-left: 3%;
	padding-top: 2%;
}

.w_sub_head {
	text-align: center;
	color: #cccccc;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.w_sub_label {
	font-size: 13px;
	color:#cccccc;
	font-weight: bold;
}

.w_amount {
	width: 82%;
	margin:auto;
	margin-top:5%;
}

.w_amount input {
	font-size: 13px;
}

.w_dollars input {
	width: 90px;
	text-align: right;
	border-radius: 5px;
}

.w_cents input {
	width:30px;
	text-align: center;
	border-radius: 5px;
}

.w_btns {
	width:82%;
	margin:auto;
}

.w_btns button {
	border-radius: 5px;
	font-size: 12px;
	width:49%;
	margin-top:8%;
}

.w_btns button:hover {
	background-color: #999999;
}

.a_right_btm_wrap {
	text-align: left;
	margin-left:4%;
	position: relative;
	top:20%;
}

.a_right_btm_wrap button {
	border-radius: 7px;
	font-weight: bold;
	font-size: 12px;
	width:140px;
}

.a_right_btm_wrap button:hover {
	background-color: #999999;
}

.make_sure {
	text-align: center;
	color:#cccccc;
	font-weight: bold;
	font-size: 18px;
}

.make_sure span {
	font-size: 14px;
	font-style: italic;
	color:#87434e;
}

.transfer_error_div {
	width:80%;
	margin: auto;
	font-size:12px;
	color:#cccccc;
	text-align: left;
	font-weight: bold;
}

.search_icon {
	width:100%;
}

.search_icon input {
	width:85%;
	border-radius: 5px;
	padding-left:7px;
	margin-top:3px;
}

.search_span {
	position:relative;
	float: right;
	z-index: 2;
	margin-top: -24px;
	margin-right: 30px;
	text-align: left;
	font-size: 16px;
}

.errSpan {
    float: left;
    margin-left: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}

.advanced_Search_wrap {
	width:400px;
	height:300px;
	margin:auto;
	background: url('/static/images/gray_grad.png');
	background-size:100% 100%;
	border-radius: 8px;
	border: 1px solid black;
	box-shadow: 2px 2px 5px black;
	margin-top:10%;
}

.zero_results {
	width:100%;
	text-align: center;
	color:#cccccc;
	font-weight: bold;
	font-style: italic;
}

.search_results_header {
	padding-left: 5%;
	font-size: 16px;
	border-bottom: 2px solid black;
	font-weight: bold;
	padding-top:1%;
	padding-bottom:10px;
	color:#490a14;
	background-color: #dad0ba;
}

.sr0 {
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	padding-left:20px;
	width:100%;
	border-bottom: 1px solid #666666;
	color:orange;
	text-shadow: 1px 1px gray;
	background-color: #f4eddd;
	padding-top: 1.5%;
	padding-bottom: 2%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.sr1 {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color:#666666;
	padding-top:5%;
	padding-bottom: 1%;
}

.sr1 span {
	color:#336699;
}

.sr2 {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.sr2 em {
	color: #660000;
}

.avd_input_aft {
	width:20px;
	padding-bottom:3px;
}

.avd_input_aft input {
	
}

.avd_label_z3 {
	width:150px;
}

.from_to_label {
	margin-right:7px;
	text-align: right;
	color:#336699;
}

#money_visibility_adv input {
	border-radius: 5px;
}

.adv_dollars {
	width:90px;
	text-align: right;
}

.adv_cents {
	width:30px;
	text-align: center;	
}

.adv_pop_buttons {
	width:280px;
	margin:auto;
	text-align: center;
	margin-top:100px;
	z-index:4;
	position:relative;
	margin-top:-50px;
}

.adv_pop_buttons button {
	border-radius: 5px;
	width:49%;
	font-size: 12px;
	font-weight: bold;
}

.adv_pop_buttons button:hover {
	background-color: #999999;
}

.disp_bal_head1 {
	margin-left:5%;
	position:relative;
	float:left;
	width:103px;
}

.disp_bal_amt {
	position:relative;
	float:left;
	width:103px;
	font-style: italic;
}

.disp_bal_head2 {
	position:relative;
	float:left;
	width:98px;
}

.disp_s_account {
	color:blue;
	font-weight: bold;
}

.single_line_account_no {
	color:blue;
	font-weight: bold;
	margin-left:5%;
}

.si_type2 {
	font-weight: bold;
	color:#330000;
	position:relative;
	float:left;
	width:103px;
}

.disp_bal_amt2 {
	color:red;
	font-style: italic;
}

.loan_head_sm {
	width:80%;
	margin:auto;
	text-align: left;
	color:#cccccc;
	font-weight: bold;
	font-size: 11px;
}

.new_rates {
	width:80%;
	margin:auto;
	font-size: 12px;
	color:#cccccc;
}

.l_deny_text {
	width: 80%;
	margin:auto;
	color:#cccccc;
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
	margin-top:-15px;
}

.l_details_text {
	width:80%;
	margin:auto;
	color:#cccccc;
	font-size: 11px;
	font-weight: bold;
}

.l_details_text span {
	font-style: italic;
	color:#15d6ed;
}

.l_deny_text_radio {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	width:80px;
}

















