{% extends "base2.html" %}
{% block body %}
{% load staticfiles %}

<body onLoad="javascript: set_base_select('btn5', 'text5');">
	<form action="" method="post" id="bank_form"> {% csrf_token %}
		<input type="hidden" name="user_id" id="user_id" value="{{user.id}}">
		<div class="data-wrap">
			<div class="url-wrap">Delete Account</div>

			<div class="p_left" style="margin-top:8%;">
				<div class="line-vert_lg">
					<div class="cuny-logo2">
					    <img src="{% static 'images/logo.png' %}" alt="logo-nav" class='logo-nav-xl'>
				    </div>

					<div class="lg_logo_text">Lewis Bank of CCNY</div>
				</div>  
			</div>

			<div class="p_right">
				<div style="margin-top:15%; margin-left:0%;">
					<div class="del1">Are you sure you want to delete your profile?</div>
					<div class="del2">This action cannot be undone</div>
					<div class="delbtn"><button type="submit">Delete Profile</button></div>
				</div>
			</div>

			<!-- <div class="p_block"></div> -->
		</div>
	</form>
</body>

{% endblock %}