{% extends "base2.html" %}
{% block body %}
{% load staticfiles %}

<body onLoad="javascript: initialize_accounts(0);">

		<div class="fadeOut" id="z2">
			<div class="messageWindow" id="messageWindow">
				<div class="messageNav-short">
					<a href="javascript: visibility(1, 'hide');">
						<i class="fa fa-window-close-o" aria-hidden="true"></i>
					</a>
				</div>

				<div class="messageHeader" id="messageHeader"></div>

				<div class="hold_logo">
					<div class="class_left">
						<img src="{% static 'images/logo.png' %}" alt="logo-nav" class='logo-nav-small'>
						<div class="sm-logo-text">Lewis Bank</div>
					</div>

					<div class="vertical_divider"></div>

					<div class="message_text" id="messageContent">
					</div>
				</div>

				<button type="button" onClick="javascript: visibility(2, 'hide');">Close</button>
			</div>
		</div>

		<div class="fadeOut" id="z3">
			<div class="advanced_Search_wrap" id="advanced_Search_wrap">
				<div class="messageNav-solid">
					<a href="javascript: visibility(3, 'hide');">
						<i class="fa fa-window-close" aria-hidden="true"></i>
					</a>
				</div>

				<div class="messageHeader" id="messageHeader">Advanced Search Options</div>

				<div class="hold_logo">
					<div class="class_left">
						<img src="{% static 'images/logo.png' %}" alt="logo-nav" class='logo-nav-small'>
						<div class="sm-logo-text">Lewis Bank</div>
					</div>

					<div class="vertical_divider"></div>

					<div class="message_text" id="messageContent">
					</div>
				</div>

				<button type="button" onClick="javascript: visibility(3, 'hide');">Close</button>
			</div>
		</div>

	<form action="/logout/" method="post" id="bank_form"> {% csrf_token %}
		<input type="hidden" name="direction_parent" id="direction_parent" value="descend">
		<input type="hidden" name="selected_account_number" id="selected_account_number" value="">
		<input type="hidden" name="selected_date" id="selected_date" value="">
		<input type="hidden" name="selected_balance" id="selected_balance" value="">
		<input type="hidden" name="selected_type" id="selected_type" value="">
		<input type="hidden" name="view_mode" id="view_mode" value="0">
		<input type="hidden" name="selected_index" id="selected_index" value="0">

		<div class="fadeOut" id="z1">
			<div class="window1">
				<iframe src="" id="frame1"></iframe>
			</div>
		</div>

		<div class="data-wrap-solid">
			<div class="url-wrap">Account Management</div>

			<div class="summary-boxes">
				<div class='item-list-nav'>
					<div class='item-list-nav-inner'>
						<div class="tri-edge">
							<table>
								<tr>
									<td><div class="sortBy1" id="sort_label">Sort By:</div></td>

									<td>
										<div id="select_builder">
											<select name="sort_parent" id="sort_parent" onChange="javascript: set_frame_list();">
												<option value="account_number">Account Number</option>
												<option value="isSavings">Account Type</option>
												<option value="balance">Balance</option>
												<option value="date">Date Opened</option>
											</select>
										</div>
									</td>
								</tr>
							</table>
						</div>

						<div class="tri-center"></div>

						<div class="tri-edge" id="carat">
							<a href="javascript: toggle_carat(); set_frame_list();">
								<div class="direction-holder">
									<div class="carat-holder" id="icon"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></div>
									<div class="dir_text" id="dir_text">Ascending</div>
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="mega-list-holder">
					<iframe src="/load_account_list/" id="iframe_list"></iframe>
				</div>

				<div class="a_right_btm" style="width:100%;">
					<div class="a_right_btm_wrap">
						<button type="button" onCLick="javascript: load_frame('/add_account0/');">
							<i class="fa fa-plus" aria-hidden="true"></i>
							New Account
						</button>
					</div>
				</div>
			</div>

			<div class="summary-boxes2 summary-selected-data">
				<div class="a_page_selected">
					<div class="selected-item-wrap" id="tv_builder">
						<div class="Selcted_Item" id="tv_head">Selected Account:</div>
						<div class="divider"></div>
						<div class="inner_class si1"><span id="selType"></span> <span id="selAcct"></span></div>
						<div class="inner_class si2">Active Since <span id="selDate"></span></div>
						<div class="inner_class si3">Available Now:<br><span>$</span><span id="selBaln"></span></div>
						<div class="selected-item-content"></div>
					</div>
				</div>

				<div class="a_page_search">
					<div class="avd_search">
						<a href="javascript: visibility(3,'show');">Advanced Search</a>
					</div>
					<div class="search_icon">
						<input type="search" placeholder="Search Accounts" id="search" name="search">
						<div class="search_span">
							<a href="javascript: initialize_account_search();"><span class="fa fa-search"></span></a>
						</div>
					</div>
				</div>

				<div class="a_page_buttons">
					<button type="button" class="a-button-top" onCLick="javascript: load_account_sort_options('0'); load_frame('/withdraw0/');">Withdrawal</button>
					<button type="button" onCLick="javascript: load_account_sort_options('0'); load_frame('/deposit0/');">Deposit</button>
					<button type="button" onCLick="javascript: load_account_sort_options('0'); load_frame('/transfer0/');">Transfer</button>
					<button type="button" id="hi_btn" onCLick="javascript: load_account_sort_options('1'); init_history('/view_history0/');">View Selected Account's History</button>
					<button type="button" class="a-button-bottom" onCLick="javascript: load_account_sort_options('0'); load_frame('/delete_account0/');">Delete Account</button>
				</div>

				<div class="a_right_btm"></div>
			</div>
		</div>
	</form>
</body>

{% endblock %}