{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body>
	<input type="hidden" name="email" id="email" value="{{email}}">

	<form>
		<div class="fadeOut" id="z1">
			<div class="passwordRecovery">
				<button type="button" onClick="javascript: visibility(1, 'hide');">Close</button>
			</div>
		</div>
	</form>

	<form>
		<div class="fadeIn" id="z2" style="z-index:2;">
			<div class="approvalContainer2" id="approvalContainer">
				<div class="messageNav-short">
					<a href="javascript: visibility(2, 'hide');">
						<i class="fa fa-window-close-o" aria-hidden="true"></i>
					</a>
				</div>

				<div class="approvalMessage" id="approvalMessage">
					<h1>Existing Account</h1>

					<div class="cuny-logo2">
						<img src="{% static 'images/logo.png' %}" alt="logo-nav" class='logo-nav-small'>
					</div>

					<p>
						Our records indicate that there is an existing account associated with the email address:
						<div class="email_only1">{{email}}</div>
						Please login using your credentials to gain access to your funds, manage your accounts and apply for loans.
					</p>
				</div>

				<button type="button" onClick="javascript: visibility(2, 'hide');">Close</button>
			</div>
		</div>
	</form>

	<div class="logo-wrapper">
		<div class="logo-container">
			<div class="cuny-logo">
				<img src="{% static 'images/logo.png' %}" alt="logo-nav" class='logo-nav'>
			</div>

			<div class="logo-text">
				<table>
					<tr>
						<td>
							<div class="logo-header">Lewis Bank of CCNY</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="motto">"Where everyone gets an A+"</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="login-wrapper">
		<div id="login-text">Login</div>

		<form action="/auth_view/" method="/post/" id="auth_form"> {% csrf_token %}
		    <div class="login-input">
			    <input type="email" placeholder="Email" name="username" id="username" value="{{email}}" required>
			    <input type="password" placeholder="Password" name="password" id="password" required>
			    <button type="submit">Login</button>
		    </div>
		</form>

		<div id="OR">-OR-</div>

		<div class="half-buttons">
			<button type="button" onClick="javascript: load_page('/newAccount/', 'auth_form');">Open New Account</button>
			<button type="button" onClick="javascript: load_page('/newLoan/', 'auth_form');">Loan Application</button>

			<div style="margin-top:5px;"><a href="javascript: visibility(1, 'show');"><b>Forgot Password</b></a></div>
		</div>
	</div>
</body>

{% endblock %}