{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body>
	<form action="/loanCreated/" method="post" id="loan_form"> {% csrf_token %}
		<input type="hidden" name="fname" id="fname" value="{{fname}}">
		<input type="hidden" name="lname" id="lname" value="{{lname}}">
		<input type="hidden" name="phone" id="phone" value="{{phone}}">
		<input type="hidden" name="email" id="email" value="{{email}}">
		<input type="hidden" name="ltype" id="ltype" value="{{type}}">
		<input type="hidden" name="rate" id="rate" value="{{rate}}">
		<input type="hidden" name="term" id="term" value="{{term}}">
		<input type="hidden" name="principal" id="principal" value="{{principal}}">
		<input type="hidden" name="total" id="total" value="{{total}}">
		<input type="hidden" name="interest" id="interest" value="{{interest}}">
		<input type="hidden" name="start" id="start" value="{{dates.start}}">
		<input type="hidden" name="end" id="end" value="{{dates.end}}">
		<input type="hidden" name="payments" id="payments" value="{{payments}}">
	
		<div class="fadeOut" id="z1">
			<div class="loanWindow" id="loanWindow">
				<div class="messageNav-short">
					<a href="javascript: visibility(1, 'hide');">
						<i class="fa fa-window-close-o" aria-hidden="true"></i>
					</a>
				</div>

				<div class="veriLoan" id="veriLoan">
					<div class="newAcctLHead">New Account</div>
					<input type="email" name="email2" id="email2" placeholder="Verify Email" required oninput="javascript: switchALoanSubmit2();">
					<input type="password" name="password1" id="password1" placeholder="Create Password" required oninput="javascript: switchALoanSubmit2();">
					<input type="password" name="password2" id="password2" placeholder="Verify Password" required oninput="javascript: switchALoanSubmit2();">

					<div class="select_left">
						<select name="account_type" id="account_type">
							<option value="Select">Type of Account</option>
							<option value="False">Checking</option>
							<option value="True">Savings</option>
						</select>
					</div>

					<div class="field_label">Security Question 1:</div>
					<div class="s1loan">
						<select name="security1" id="security1">
							{% for s1 in security1 %}
							<option value="{{s1.index}}">{{s1.question}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="field_label">Answer 1:</div>

					<div>
						<input type="text" name="answer1" id="answer1" required oninput="javascript: switchALoanSubmit2();">
					</div>

					<div class="field_label">Security Question 2:</div>
					<div class="s1loan">
						<select name="security2" id="security2">
							{% for s2 in security2 %}
							<option value="{{s2.index}}">{{s2.question}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="field_label">Answer 2:</div>

					<div>
						<input type="text" name="answer2" id="answer2" required oninput="javascript: switchALoanSubmit2();">
					</div>
				</div>

				
				<div class="button90_gray">
					<button type="submit" id="creBtn">Submit</button>
					<button type="button" onCLick="javascript: visibility(1, 'hide');">Cancel</button>
				</div>
			</div>
		</div>
	</form>


	<div class="fadeOut" id="z2">
		<div class="messageWindow" id="messageWindow">
			<div class="messageNav">
				<a href="javascript: visibility(2, 'hide');">
					<i class="fa fa-window-close-o" aria-hidden="true"></i>
				</a>
			</div>

			<div class="messageContent" id="messageContent"></div>

			<button type="button" onClick="javascript: visibility(2, 'hide');">Close</button>
		</div>
	</div>

	<div class="new-loan-wrapper">
		<div class="margin85">
			<div class="popHead" style="margin-top:15px;"><em>Congratulations, {{fname}}!</em></div>
			<div class="head2">Your loan has been approved</div>
			<div style="text-align:left; margin-top:30px;margin-bottom:10px;">Here are the details:</div>

			<div class="loan_details">
				<ul>
					<table>
						<tr>
							<td><li><em>Principal Balance:</em></li></td>
							<td><span>${{principal}}</span></td>
						</tr>

						<tr>
							<td><li><em>Interest Rate:</em></li></td>
							<td><span>{{rate}}%</span></td>
						</tr>

						<tr>
							<td><li><em>Term:</div></em></td>
							<td><span>{{dates.start}} - {{dates.end}}</span></td>
						</tr>

						<tr>
							<td><li><em>Monthly Payments:</em></li></td>
							<td><span>${{payments}} for {{term}} months</span></td>
						</tr>

						<tr>
							<td><li><div class="totals">Total Loan:</div></li></td>
							<td><div class="totals"><span>${{total}}</span></div></td>
						</tr>
					</table>
				</ul>
			</div>

			<div class="loanAcceptMessage">
				By clicking "Accept" you agree to open a checking or savings account with Lewis Bank of CCNY
			</div>

			
			<div class="button90">
				<button type="button" onClick="visibility(1, 'show');">Accept</button>
				<button type="button" onCLick="javascript: load_page('/index/', 'loan_form');">Decline</button>
			</div>
		</div>
	</div>
</body>

{% endblock %}