{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body>
	<div class="logo-wrapper">
		<div class="logo-container">
			<div class="cuny-logo">
				<img src="{% static 'images/logo.png' %}" alt="logo-nav" class='logo-nav'>
			</div>

			<div class="logo-text">
				<table>
					<tr>
						<td>
							<div class="logo-header">Lewis Bank of CCNY</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="motto">"Where everyone gets an A+"</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="login-wrapper">
		<div id="login-text">Login</div>

		<div class="login-input">
			<input type="email" placeholder="Email" name="username" id="username">
			<input type="password" placeholder="Password" name="password" id="password">
			<button type="submit">Login</button>
		</div>

		<div id="OR">-OR-</div>

		<div class="half-buttons">
			<button type="button">Open New Account</button>
			<button type="button">Loan Application</button>

			<div style="margin-top:5px;"><a href="javascript: "><b>Forgot Password</b></a></div>
		</div>
	</div>
</body>

{% endblock %}