{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body>
	<form action='/index' method='get' id="empty">
		<div class="fadeIn" id="z1" style="z-index:1;">
			<div class="invalid_login">
				<h1>Invalid Login Information</h1>

				<div class="cuny-logo2">
					<img src="{% static 'images/logo.png' %}" alt="logo-nav" class='logo-nav-small'>
				</div>

				<span>Lewis Bank of CCNY</span>

				<p>
					The username and/or password that you've entered is invalid.
				</p>

				<button type="submit">Return to Login</button>
			</div>
		</div>
	</form>

	<div class="new-account-wrapper-blank">
		
	</div>
</body>

{% endblock %}