{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body>
	<input type="hidden" name="fname" id="fname" value="{{fname}}">
	<input type="hidden" name="lname" id="lname" value="{{lname}}">
	<input type="hidden" name="phone" id="phone" value="{{phone}}">
	<input type="hidden" name="email" id="email" value="{{email}}">
	<input type="hidden" name="principal" id="principal" value="{{principal}}">
	<input type="hidden" name="total" id="total" value="{{total}}">
	<input type="hidden" name="interest" id="interest" value="{{interest}}">
	<input type="hidden" name="start" id="start" value="{{dates.start}}">
	<input type="hidden" name="end" id="end" value="{{dates.end}}">
	<input type="hidden" name="payments" id="payments" value="{{payments}}">
	<input type="hidden" name="loan_type" id="loan_type" value="{{type}}">
	<input type="hidden" name="rate" id="rate" value="{{rate}}">
	<input type="hidden" name="term" id="term" value="{{term}}">

	<form>
		<div class="fadeOut" id="z1">
			<div class="passwordRecovery">
				<button type="button" onClick="javascript: visibility(1, 'hide');">Close</button>
			</div>
		</div>
	</form>

	<form>
		<div class="fadeIn" id="z2" style="z-index:2;">
			<div class="approvalContainer" id="approvalContainer">
				<div class="messageNav-short">
					<a href="javascript: visibility(2, 'hide');">
						<i class="fa fa-window-close-o" aria-hidden="true"></i>
					</a>
				</div>

				<div class="approvalMessage" id="approvalMessage">
					<h1>Welcome to Lewis Bank!</h1>

					<div class="cuny-logo2">
						<img src="{% static 'images/logo.png' %}" alt="logo-nav" class='logo-nav-small'>
					</div>

					<p>
						Your loan of ${{format}} has been deposited into a new {{loan_type}} account created for you. Please login using your new credentials to gain access to your funds and manage your account.
					</p>
				</div>

				<button type="button" onClick="javascript: visibility(2, 'hide');">Close</button>
			</div>
		</div>
	</form>

	<div class="logo-wrapper">
		<div class="logo-container">
			<div class="cuny-logo">
				<img src="{% static 'images/logo.png' %}" alt="logo-nav" class='logo-nav'>
			</div>

			<div class="logo-text">
				<table>
					<tr>
						<td>
							<div class="logo-header">Lewis Bank of CCNY</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="motto">"Where everyone gets an A+"</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="login-wrapper">
		<div id="login-text">Login</div>

		<form action="/auth_view/" method="/post/" id="auth_form"> {% csrf_token %}
		    <div class="login-input">
			    <input type="email" placeholder="Email" name="username" id="username" value="{{user.email}}" required>
			    <input type="password" placeholder="Password" name="password" id="password" required>
			    <button type="submit">Login</button>
		    </div>
		</form>

		<div id="OR">-OR-</div>

		<div class="half-buttons">
			<button type="button" onClick="javascript: load_page('/newAccount/', 'auth_form');">Open New Account</button>
			<button type="button" onClick="javascript: load_page('/newLoan/', 'auth_form');">Loan Application</button>

			<div style="margin-top:5px;"><a href="javascript: visibility(1, 'show');"><b>Forgot Password</b></a></div>
		</div>
	</div>
</body>

{% endblock %}