{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body>
	<form>
		<div class="fadeOut" id="z1" style="z-index:1;">
			<div class="passwordRecovery">
				<button type="button" onClick="javascript: visibility(1, 'hide');">Close</button>
			</div>
		</div>
	</form>

	<div class="new-account-wrapper">
		<div class="popHead">New Account</div>

		<form action="" method="post" id="new_account"> {% csrf_token %}
			<div class="new_input">
				<input type="text" name="fname" id="fname" class="s_input" placeholder="First Name" required>
				<input type="text" name="lname" id="lname" class="s_input"placeholder="Last Name" required>
				<input type="email" name="email" id="email" class="s_input" placeholder="Email" required>

				<div class="data_entry">
					<table>
						<tr>
							<td><div class="data_label" style="margin-top:7px;">Phone:</div></td>
							<td><input type="text" name="areaCode" id="areaCode" placeholder="123" required></td>
							<td><input type="text" name="prefix" id="prefix" placeholder="456" required></td>
							<td><input type="text" name="postfix" id="postfix" placeholder="7890" required></td>
						</tr>
					</table>
				</div>

				<input type="password" name="password1" id="password1" class="s_input" placeholder="Create Password" required>
				<input type="password" name="password2" id="password2" class="s_input" placeholder="Verify Password" required>

				<div class="data_entry">
					<table>
						<tr>
							<td><div id="initDep" class="data_label" style="margin-top:7px; width:113px;">Initial Deposit:&nbsp<span>$</span></div></td>
							<td><input type="number" name="deposit" id='deposit' placeholder="Minimum $5" style="padding-left:7px;"></td>
						</tr>
					</table>

					<table style="margin-top:4px; margin-vottom:4px;">
						<tr>
							<td><div class="data_label" style="width:100px;">Account Type:</div></td>
							<td>
								<input type="radio" name="accountType" id="checking" value="False" checked style="width:14px;">
							</td>
							<td><div class="radio_text">Checking</div></td>

							<td>
								<input type="radio" name="accountType" id="savings" value="True" style="width:14px;">
							</td>
							<td><div class="radio_text">Savings</div></td>
						</tr>
					</table>

					<table>
						<tr>
							<td><div class="data_label" style="width:200px;">Security Question 1:</div></td>
						</tr>
					</table>

					<table>
						<tr>
							<td>
								<select name="security1" id="security1" style="width:300px; border-color:gray; font-size:12px;">
									<option value="0">Choose</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>
								<input type='text' name='answer1' id='answer1' placeholder="Security Answer 1" style="width:300px; padding-left:7px; margin-bottom:7px;" required>
							</td>
						</tr>
					</table>

						<tr>
							<td><div class="data_label" style="width:200px;">Security Question 2:</div></td>
						</tr>

						<tr>
							<td>
								<select name="security2" id="security2" style="width:300px; border-color:gray; font-size:12px;">
									<option value="0">Choose</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>
								<input type='text' name='answer2' id='answer2' placeholder="Security Answer 2" style="width:300px; padding-left:7px;" required>
							</td>
						</tr>
					</table>

					<table style="margin-top:5px; margin-bottom:10px;">
						<tr>
							<td><div><input type="checkbox" name="agreement" id="agreement" value="False"></div></td>
							<td><div id="term_a">By clicking "Submit" you agree to the <a href="javascript: visibility(1, 'show');">terms</a> of Lewis Bank.</div></td>
						</tr>
					</table>
				</div>



				<div class="half-buttons" style="margin-top:15px;">
					<button type="submit" onClick="javascript: load_page('/create_account/', 'new_account');">Submit</button>
					<button type="button" onClick="javascript: load_page('/index/', 'new_account');">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</body>

{% endblock %}