{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body>
	<form>
		<div class="fadeOut" id="z1">
			<div class="messageWindow" id="messageWindow">
				<div class="messageNav">
					<a href="javascript: visibility(1, 'hide');">
						<i class="fa fa-window-close-o" aria-hidden="true"></i>
					</a>
				</div>

				<div class="messageContent" id="messageContent"></div>

				<button type="button" onClick="javascript: visibility(1, 'hide');">Close</button>
			</div>
		</div>
	</form>

	<div class="new-loan-wrapper">
		<div class="popHead" style="margin-bottom:5px;">Loan Application</div>

		<form action="/complete_loan/" method="post" id="loan_form"> {% csrf_token %}
			<div class="new_input">
				<input type="text" name="fname" id="fname" placeholder="First Name" class="s_input" required>
				<input type="text" name="lname" id="lname" placeholder="Last Name" class="s_input" required>
				<input type="email" name="email" id="email" placeholder="Email" class="s_input" required>

				<div class="phone_input">
					<table>
						<tr>
							<td><div class="data_label">Phone:</div></td>

							<td><div class="data_label" style="margin-left:5px;">(</div></td>

							<td>
								<input type="text" name="phone1" id="phone1" placeholder="123" style="width:60px;" oninput="javascript: entry_error(phone1, 'number', 3);  switchAccountSubmit();" required>
							</td>

							<td><div class="data_label" style="margin-right:5px;">)</div></td>

							<td>
								<input type="text" name="phone2" id="phone2" placeholder="456" style="width:60px;" oninput="javascript: entry_error(phone2, 'number', 3);  switchAccountSubmit();" required>
							</td>

							<td><div class="data_label" style="margin-left:4px; margin-right:4px;">-</div></td>

							<td>
								<input type="text" name="phone3" id="phone3" placeholder="7890" style="width:80px;" oninput="javascript: entry_error(phone3, 'number', 4);  switchAccountSubmit();" required>
							</td>
						</tr>
					</table>
				</div>

				<div style="width:85%; margin:auto;">
					<table>
						<tr>
							<td><div class="data_label">Loan Type:</div></td>
							<td><div><input type="radio" name="loanType" id="personal" value="Personal" style="width:14px;" checked ></div></td>
							<td><div class="radio_text">Personal</div></td>

							<td><div><input type="radio" name="loanType" id="business" value="Business" style="width:14px;"></div></td>
							<td><div class="radio_text">Business</div></td>

							<td><div><input type="radio" name="loanType" id="student" value="Student" style="width:14px;"></div></td>
							<td><div class="radio_text">Student</div></td>
						</tr>
					</table>

					<table style="margin-top:5px;">
						<tr>
							<td><div class="data_label" style="margin-right:5px;">Amount Requested: <span>$</span></div></td>

							<td><input type="text" name="dollars" id="dollars" placeholder="min $100" required class="dollarAmt" oninput="entry_error(dollars, 'number', 7); switchALoanSubmit();"></td>

							<td>.</td>

							<td>
								<input type="text" style="width:30px; text-align:center; border-radius:5px;" name="cents" id="cents" placeholder="00" oninput="entry_error(cents, 'number', 2); switchALoanSubmit();">
							</td>
						</tr>
					</table>

					<table style="margin-top:5px;">
						<tr>
							<td><div class="data_label" style="margin-right:5px;">Term:</div></td>

							<td>
								<div>
									<select name="loanTerm" id="loanTerm" style="border-color:gray;">
										<option value="0">Choose</option>
										<option value="3">3 months</option>
										<option value="6">6 months</option>
										<option value="9">9 months</option>
										<option value="12">12 months</option>
										<option value="24">24 months</option>
										<option value="48">48 months</option>
									</select>
								</div>
							</td>
						</tr>
					</table>

					<table style="margin-top:10px; margin-bottom:0px;">
						<tr>
							<td><div><input type="checkbox" name="agreement" id="agreement" value="False" required></div></td>
							<td><div id="term_a">By clicking "Submit" you agree to the <a href="javascript: load_popWin(z1, 1, messageWindow, '350px', '250px', 'terms');">terms</a> of service.</div></td>
						</tr>
					</table>

					<div id="mini_notes">*You must open an account to apply for a loan with Lewis Bank.</div>
				</div>
			</div>

			<div class="button90">
				<button type="submit" id="creBtn">Submit</button>
				<button type="buttton" onCLick="javascript: load_page('/index/', 'loan_form');">Cancel</button>
			</div>
		</form>
	</div>
</body>

{% endblock %}