{% extends "base2.html" %}
{% block body %}
{% load staticfiles %}

<body onLoad="javascript: set_base_select('btn5', 'text5');">
	<form action="" method="post" id="bank_form"> {% csrf_token %}
		<input type="hidden" name="user_id" id="user_id" value="{{user.id}}">
		<div class="data-wrap">
			<div class="url-wrap">Edit Profile</div>

			<div class="p_left" style="margin-top:8%;">
				<div class="line-vert_lg">
					<div class="cuny-logo2">
					    <img src="{% static 'images/logo.png' %}" alt="logo-nav" class='logo-nav-xl'>
				    </div>

					<div class="lg_logo_text">Lewis Bank of CCNY</div>
				</div>  
			</div>

			<div class="p_right">
				<div style="margin-top:15%; margin-left:0%;">
					<div class="p_align">
						<table>
							<tr><td>Name: <span>{{user.first_name}} {{user.last_name}}</span></td></tr>
							<tr><td>Email: <span>{{user.email}}</span></td></tr>
							<tr><td>phone: <span id='phone_span'>{{profile.phone}}</span></td></tr>
							<tr><td>Member Since: <span>{{since}}</span></td></tr>
						</table>

						<div class="divider" style="width:230px; margin-top:20px;"></div>
					</div>

					<div>
						<iframe src="/update_phone_loader/" id="frame3"></iframe>
					</div>
				</div>
			</div>

			<!-- <div class="p_block"></div> -->
		</div>
	</form>
</body>

{% endblock %}