{% extends "base2.html" %}
{% block body %}
{% load staticfiles %}

<body onLoad="javascript: set_base_select('btn5', 'text5');">
	<form action="/loadNewPassword/" method="post" id="bank_form"> {% csrf_token %}
	<input type="hidden" name="user_id" id="user_id" value="{{user.id}}">
	<input type="hidden" name="match" id="match" value="">

		<div class="fadeOut" id="z1" style="z-index:1;">
			<div class="singleErrorWrap">
				<div class="messageNav-short" style="font-size:20px;">
					<a href="javascript: visibility(1, 'hide');">
						<i class="fa fa-window-close" aria-hidden="true"></i>
					</a>
				</div>

				<div class="er_align">
					<div class="warning_icon">
						<img src="{% static 'images/warning.png' %}" alt="error-ico" class=''>
					</div>

					<div class="warning_ptext">
						<span>ERROR:</span> The Passwords Do Not Match!
					</div>

					<div class="warning_pbtn">
						<button type="button" onClick="javascript: visibility(1, 'hide');">Continue</button>
					</div>
				</div>
			</div>
		</div>

		<div class="data-wrap">
			<div class="url-wrap">Update Password</div>

			<div class="p_left" style="margin-top:8%;">
				<div class="line-vert_lg">
					<div class="cuny-logo2">
					    <img src="{% static 'images/logo.png' %}" alt="logo-nav" class='logo-nav-xl'>
				    </div>

					<div class="lg_logo_text">Lewis Bank of CCNY</div>
				</div>  
			</div>

			<div class="p_right">
				<div class="pwordHoldit" style="margin-left:15%; margin-top:18%;">
					<div class="udp">Update Password</div>
					<div>
						<div><input type='password' placeholder="Enter Old Password" name='old' id='old' required oninput="javascript: track_pInput();"></div>
						<div><input type='password' placeholder="Enter New Password" name='password1' id='password1' required oninput="javascript: track_pInput();"></div>
						<div><input type='password' placeholder="Re-enter Password" name='password2' id='password2' required oninput="javascript: track_pInput();"></div>
						<div><button type="submit" id='btn'>Submit</button></div>
					</div>
				</div>
			</div>

			<!-- <div class="p_block"></div> -->
		</div>
	</form>
</body>

{% endblock %}